<!-- Table -->
    
        <table class="table table-dark table-striped table-hover text-center align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <% products.forEach(product=>{ %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td><%= product.desc %></td>
                        <td><%= product.price %></td>
                        <td>
                            <img class="product-image" src="<%= product.imageURL %>">
                        </td>
                        <td>
                            <a href="/update/<%= product.id %>" class="btn btn-warning">Update</a>
                            <!-- <a href="/delete/<%= product.id %>" class="btn btn-danger">Delete</a> -->
                             <button class="btn btn-danger" onclick="deleteProduct('<%= product.id %>')">Delete</button>
                            
                        </td>
                    </tr>
                <% })%>
                
            </tbody>
        </table>
        <script src="script.js"></script>

    

